<html>
 <head>
   <meta charset="UTF-8">
   <title>従業員管理ファイル</title>
</head>

 <body>
  <h1>株式会社〇〇〇〇</h>
    <table border="1">
      <caption>従業員一覧</caption>
      <thead>
        <tr>
         <th>所属部署<th>
         <th>名前<th>
         <th>住所</th>
         <th>Email</th>
         <th>Tel</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
     </table>
     <div>
       <a href="staff.erb">従業員情報入力ファーム</a>
     </div>
     <footer>
     <a href="adress.html">会社所在地</a>
   </footer>
 </body>
</html>
