<html>
 <head>
     <meta charset="UTF-8">
 </head>
 <body>
  <h1>名前入力ページ</h1> 
   <form action="data" method="post">
        <input type="text" name="name">
        <input type="submit">
　　</form>
　　<div>
        <a href="/">戻る</a>
　　</div>
 </body>
</html>