<html>
 <head>
     <meta charset="UTF-8">
 </head>
 <body>
  <h1>従業員情報入力ファーム</h1>
  　<form action="datas" method="post">
      <div>
        <label for="date_area">部署名</label>
        <input type="text" name="area" id="date_area">
      </div>
      <div>
        <label for="date_name">名前</label>
        <input type="text" name="name" id="date_name">
      </div>
      <div>
        <label for="date_adress">住所</label>
        <input type="text" name="adress" id="date_adress">
      </div>
      <div>
        <label for="date_email">Email</label>
        <input type="text" name="email" id="date_email">
      </div>
      <div>
        <label for="date_tell">Tell</label>
        <input type="text" name="email" id="date_tell">
      </div>
        <input type="submit">
  　</form>
　　<div>
        <a href="/">戻る</a>
　　</div>
 </body>
</html>
